<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h3>Địa chỉ</h3>
        <p>Liên hệ với chúng tôi nếu bạn có bất kỳ vấn đề gì</p>
        <ul>
            <li>
                <strong>Địa chỉ:</strong> 184-Hoàng Quốc Viêt, Cầu giấy, Hà Nội
            </li>
            <li>
                <strong>Email:</strong> bookstore@gmail.com
            </li>
            <li>
                <strong>Điện thoại:</strong> (+84)099999999
            </li>
            <li>
                <strong>Fax:</strong> (+84)099999999
            </li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h3>Dịch vụ khách hàng</h3>
        <ul>
            <li>Kiểm tra tình trạn đơn hàng</li>
            <li>Tùy chọn vận chuyển</li>
            <li>Đổi - trả</li>
            <li>Thu hồi sản phẩm</li>
            <li>Hỗ trợ trực tuyến</li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h3>Tại sao chọn chúng tôi</h3>
        <ul>
            <li>Mua sắm an toàn</li>
            <li>Vận chuyển quốc tế</li>
            <li>Đại lý</li>
            <li>Nhóm bán hàng</li>
        </ul>
    </div>
</div>
