@using BookStore.Entities
@model IEnumerable<BSNXB>
@{
    foreach (var item in Model)
    {
        <a class="list-group-item" href="#"><span class="glyphicon glyphicon-th-large"> </span> @item.TENNXB</a>
    }
}
